/*Reset*/
*{
	margin:0;
	padding: 0;
}

/*general styling*/
body{
	color: #fcfcfc;
	font:14px 'Segoe UI', Arial, sans-serif;
	background: #ccc;
}

a{
	text-decoration: none;
	outline: none;
	color: #54a6de;
}

/* custom styling*/
.container{
	width: 70%;
	margin: 10px auto;
	overflow: auto;
}

#navbar{
	display: block;
	height: 40px;
	background: #12151d;
}

#navbar a{
	color: #fff;
	display: inline-block;
	height: 40px;
	line-height: 37px;
	padding: 0 15px;
}

#navbar a.active, #navbar a:hover{
	background: #333;

}

#main{
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	min-height: 480px;
}

#main li{
	float: left;
	height: 96px;
	width:125px;
	list-style: none;
	margin: 6px;
	position: relative;
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

#main ul{
	overflow: hidden;
}

#main ul.hidden{
	display: none;
}

footer{
	text-align: center;
	color: #222;
	font-size: 16px;
	font-weight: bold;
}
